doctype html
html.bg-slate-200(lang="en")
  head
    title #{name}'s Todo List
    
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0") 
    meta(name="description", content="a simple todo app by Jack Witt")

    style 
      include ../public/styles.css
    
    script(src="https://unpkg.com/htmx.org@1.9.3",integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua",crossorigin="anonymous")

  body.min-h-screen.flex.flex-col.justify-between

    include ./mixins/_icon

    section.m-4
      div.flex.flex-row.justify-between.gap-2.items-center
        h1.text-4xl.font-bold #{name}'s Todo List
        button(id="refresh",class="rounded-full hover:bg-slate-300 text-slate-900 font-semibold p-2 border border-slate-200 hover:border-slate-900 hover:border-transparent transition ease-in-out duration-200" role="button" aria-label="refresh todo lists")
          +icon('refresh')

      div(id="todo-list" hx-get="/todos" hx-trigger="load, click from:#refresh") loading...

      form.flex.flex-row.justify-between.items-center.my-2.border.border-dashed.border-slate-500.rounded.p-2.bg-slate-200(class="hover:bg-slate-100 transition ease-in-out duration-200 min-h-[70px]" hx-post="/todos" hx-trigger="click from:#add-todo" hx-target="#todo-list" hx-swap="beforeend")
        div.flex.flex-col.gap-2.items-start
          input.p-1.bg-slate-200.rounded(type="text" placeholder="Title" class="active:border-slate-500" name="title" aria-label="title")
          input.p-1.bg-slate-200.rounded(type="date" class="active:border-slate-500" name="dueDate" aria-label="due date")
        button.rounded-full.text-slate-900.font-semibold.mr-2.p-2(class="hover:bg-slate-300  hover:border-slate-900 transition ease-in-out duration-200" id="add-todo" role="button" aria-label="add todo") 
          +icon('add')

      h1.text-2xl.font-bold Completed
      div(id="todo-list-completed" hx-get="/todos/completed" hx-trigger="load, click from:#refresh") loading...

    footer.p-5.text-center.bg-slate-300 A code jam by Jack Witt, 2023
  </body>
</html>
